@model AirlinesReservationSystem.Models.Aircraft

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AircraftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AircraftName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstClassSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstClassSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BussinessSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BussinessSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EconomySeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EconomySeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceFee)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AircraftID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
